* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .95em;
}

.bold {
	font-weight: bold;
}

#container {
	width: 1000px;
}

#header {
	display: inline-block;
}

#header-left {
	/*width: 500px;*/
	display: inline-block;
}
#header-right {
	width: 500px;
	display: inline-block;
	vertical-align: top;
	
}

.button {
	border-radius: 5px;
	border: none;
}

#nav {
	height: 25px;
		
}

	#nav li {
		display: inline;
		border-right: 1px solid darkgray;
	}

	#nav ul {
		display: inline-block;
		border: solid 1px darkgray;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 0px 5px 10px 5px;
		margin-right: 25px;

	}

	#nav a {
		margin: 0px 10px;
		color: darkgray;
		text-decoration: none;

	}

	#nav li:last-child {
		border: none;
	}

	#login {
		padding: 5px 15px;
		color: white;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
	}
	

#banner {
	height: 50px;
	background-color: rgb(37,118,173);
}
#banner h1 {
	color: white;
	padding-top: 15px;
	font-size: 1.75em;
}

#sidebar {
	width: 250px;
	min-height: 700px;
	display: inline-block;
	/*background-color: red;*/
}

	#ppc {
		/*min-height: 275px;*/
		margin-top: 50px;
		margin-left: 10px;
		border-bottom: solid grey 1px;
		padding-bottom: 10px;
	}

		#ppc h3 {
			color: rgb(60,145,200);
			font-size: 1.25em;
		}

		#ppc h5 {
			color: darkorange;
			margin-top: 15px;
		}

		#schedule {
			background-color: rgb(37,118,173);
			margin-top: 15px;
		}

		#free-trial {
			background-color: darkorange;
			margin-top: 5px;
			}

		.sidebar-button {
			display: block;
			width: 215px;
			padding: 5px;
			color: white;
			font-weight: bold;
			font-size:1.1em;
			border-radius: 5px;
			border: none;

		}

		#ppc p:last-child {
			padding-left: 35px;
			margin-top: 5px;
		}

	#sidebar #performance {
		/*min-height: 265px;
		background-color: deepskyblue;*/
		margin-left: 5px;
		margin-top: 20px; 
	}

/*-----------Refactor these into a class?---------------*/

.content-area {
	width: 700px;
	display: inline-block;
	vertical-align: top;
	min-height: 700px;
	/
}




#contact-info {
	
	/*min-height: 100px;*/
	/*background-color: greenyellow;*/
}



#profits {
	
	/*background-color: darkgreen;*/
	/*min-height: 270px;*/
	border: 4px solid rgb(37,118,173);
}

#automation {
	
	/*background-color: darkmagenta;*/
	min-height: 165px;
}

#pay-per-click-list {
	margin-left: 15px;
	margin-bottom: 25px;
}

#pay-per-click h3{
	color: rgb(60, 145, 200);
	font-size: 1.25em;
	margin-bottom: 15px;
}
 #pay-per-click p {
 	margin-bottom: 15px;
 }



 #pay-per-click-list ul {
 	list-style-image: url('bullet.png');
 }

 #profits {

 }

 #profits h3{
 	display: inline-block;
 	vertical-align: top;
 	color: rgb(37,118,173);
 	font-size: 1.2em;
 	margin-bottom: 5px;
 }

 #profits p {

 }

 #profits-container {
 	width: 575px;
 	display: inline-block;
 	vertical-align: top;
 }

#get-started {
	padding: 10px 20px;
	margin-top: 10px;
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));
	margin-bottom: 5px;
}

#automation h3 {
	color: rgb(37,118,173);
	font-size: 1.2em;
	margin-bottom: 10px;
}
















